
.proveedores-container {
    text-align: center; /* Centrar contenido */
    margin-bottom: 20px; /* Espaciado inferior */
    display: flex;
    flex-direction: column;
    
    
}

.proveedores-title {
    margin-bottom: 10px; 
    font-size: 1.25rem;
    text-align: center;
    background-color: aqua;
}

.proveedores-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Centrar botones horizontalmente */
    gap: 20px; /* Espaciado entre botones */
    
    
}

.proveedores-button {
    background-color: rgba(186, 25, 25, 0.696);
    color: black; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    font-size: 1.1875rem;
    font-weight: bold;

}

.proveedores-button:hover {
    background-color: rgba(128, 128, 128, 0.831); /* Cambiar color de fondo al pasar el mouse */
}
