
.proveedores-container {
    text-align: center; /* Centrar contenido */
    display: flex;
    flex-direction: column;
    padding: 10px;
    
    
}

.proveedores-title {
    margin-bottom: 10px; 
    font-style: oblique;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    
}

.proveedores-buttons {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Centrar botones horizontalmente */
    gap: 20px; /* Espaciado entre botones */
    
    
}

.proveedores-button {
    background-color: rgba(186, 25, 25, 0.696);
    color: black; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    font-size: 1.1875rem;
    font-weight: bold;

}

.proveedores-button:hover {
    background-color: rgba(128, 128, 128, 0.831); /* Cambiar color de fondo al pasar el mouse */
}


.container-prod{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.producto-item {
    background-color: #f0f0f0; /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    padding: 16px; /* Espaciado interno */
    margin-bottom: 12px; /* Espaciado inferior */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.nombre-label {
    font-weight: bold; /* Texto en negrita */
    color: #333; /* Color del texto */
}

.descripcion-label {
    color: #666; /* Color del texto secundario */
}