
.insumo-detail-container{
    padding: .625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; 
}

.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.category-title {
    font-size: 24px;
    margin-bottom: 10px;
}


.productos-title {
    font-size: 30px;
    margin-bottom: 10px;
}


.productos-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    list-style-type: none;
}


.producto-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    transition: all 0.3s ease;
    font-size: .8125rem;
}


.producto-nombre {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}


.descripcion-label {
    font-style: italic;
    color: #666;
    
}


.producto-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
