
.menu-container {
    width: 130px; 
    background-color: #f0f0f0; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.menu-and-detail-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.categoria-titulo{
    font-weight: bold;
    font-style: oblique;
}



.category-menu {
    
    display: flex; 
    flex-direction: column; 
    height: 85%;
    overflow-y: auto;
    justify-content: space-around;
    
}


.category-item {
    text-decoration: none; 
    color: #333; 
    padding: 5px 0; 
    font-weight: bold;
    border: 1px solid red;
    text-align: center;
}


.category-item:hover {
    background-color: #ddd;
}

.detail-container{
    background-color: aqua;
    width: 70%;
}