
.menu-container {
    width: 130px; 
    background-color: #f0f0f0; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto; /* No crece ni encoge, mantiene su tamaño */
     
    
}
.menu-and-detail-container{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100vh - 40px);
    overflow-y: auto;
}

.categoria-titulo{
    font-weight: bold;
    font-style: oblique;
    
}



.category-menu {
    display: flex; 
    flex-direction: column; 
    height: 85%;
    overflow-y: auto;
    justify-content: space-around; 
    
}


.category-item {
    text-decoration: none; 
    color: #333; 
    padding: 5px 0; 
    font-weight: bold;
    text-align: center;
}


.category-item:hover {
    background-color: #ddd; /* Cambiar color de fondo al pasar el cursor */
}

.detail-container{
    width: 70%;
    flex: 1;
    overflow-y: auto;
}