

.inicio-container {
    background-image: url("../../img/fondo.jpg");
    background-size: cover ;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #03244f5c;
    font-family: Arial, sans-serif;
}

.titulo {
    color: #fff;
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.descripcion {
    color: #fff;
    padding: 1.25rem;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.boton-presupuestar {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bolder;
    border: none;
    background-color: rgb(128, 128, 128);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.boton-presupuestar:hover {
    background-color: rgba(128, 128, 128, 0.649);
}