.footer-container {
    width: 100%; 
    background-color: #f0f0f0;
    padding: 20px 0;
    position: fixed;
    z-index: 999;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footer-text {
    font-style: oblique;
    margin: 0 20px;
    font-size: 10px;
}
