.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
}

.counter {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 50%;
    justify-content: space-around;
    
}

.counter-btn {
    background-color: #f0f0f0;
    border-radius: 30%;
    color: #333;
    font-size: .9375rem;
    padding: 5px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.counter-btn:hover {
    background-color: #ddd;
}

.counter-value {
    margin: 0 20px;
    font-size: 1.4rem;
    width: 60px;
    align-items: center;
    border: none;
    
}

.confirm-btnA {
    border: 1px solid black;
    color: black;
    font-size: 12px;
    padding: 10px 20px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.confirm-btnE {
    background-color: rgba(128, 128, 128, 0.696);
    font-size: 12px;
    padding: 10px 20px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirm-btnA:hover {
    background-color: #d5e3f1;
}

.confirm-btnE:hover {
    background-color: rgba(128, 128, 128, 0.807);
}

.container-btn {
    display: flex;
    flex-direction: row;
}

.btnEnviar{
    margin: 15px;    
}

.btnSeguir{
    margin: 15px;  
}