.header-container {
    position: fixed; /* Hacer que el header sea fijo */
    top: 0; /* Fijar en la parte superior de la pantalla */
    left: 0;
    width: 100%;
    background-color: #333; /* Color de fondo del header */
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alinear el contenido al centro */
    z-index: 999; /* Asegurarse de que el header esté por encima del contenido */

    
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

.header-nav ul li {
    display: inline-block;
    margin-right: 20px;
    color: black;
}

.header-nav ul li:last-child {
    margin-right: 0;
}

.header-nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-style: oblique;
}

.cart-container {
    display: flex;
    align-items: center;
}

.cart-icon {
    font-size: 24px;
    margin-right: 10px;
}

.item-count {
   
    color: black;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 18px;
}

.notebook-icon {
    font-size: 20px;
    
}
