.presupuesto-container {
    background-color: #f0f0f0;
    margin-top: 75px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-bottom: solid ;
    overflow-y: auto; 
    background-color: rgba(128, 128, 128, 0.644);
    position: relative;
    min-height: calc(100vh - 130px);
    
}

.presupuesto-title {
    text-align: center;
    font-style: oblique;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 15px 0;
    border-bottom: 1px solid gray;
    
}

.presupuesto-list {
    padding-left: 15px;
    padding-right: 15px;
    list-style-type: none;
}

.presupuesto-item {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.presupuesto-item div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presupuesto-item div span {
    color: #333;
}

.container-card{
    height: 40px;
}

.nombre{
    font-size: 12px;
    font-weight: bold;
}


.precio{
    padding-right: 10px;
}


.total-container {
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    box-sizing: border-box; 
    border-top: 1px solid gray;
    display: flex;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
}


.totalP{
    font-weight: bold;
    font-style: oblique;
    color: white;
    font-size: 20px;
}