.presupuesto-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-bottom: solid ;
    max-height: calc(100vh - 133px); /* Resta el alto del footer */
    overflow-y: auto; 
}

.presupuesto-title {
    text-align: center;
    font-style: oblique;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    
}

.presupuesto-list {
    list-style-type: none;
}

.presupuesto-item {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.presupuesto-item div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presupuesto-item div span {
    color: #333;
}

.container-card{
    height: 40px;
}

.nombre{
    font-size: 12px;
    font-weight: bold;
}
.precio{
    padding-right: 10px;
}

.total-container{
    border-top: 1px solid gray;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}


.totalP{
    font-weight: bold;
    color: gray;
    font-size: 20px;
}